// Rails から使うとき Rails 側から見た assets へのパスに変更すること (そうしないと assets を参照できない)
$sp_assets_dir: "../assets" !default

// color
$sp_current_bg_blink_color0: hsla(0, 0%, 0%, 0.25) !default // 最後に動かした駒の背景色1(点滅:0%)
$sp_current_bg_blink_color1: hsla(0, 0%, 0%, 0.10) !default // 最後に動かした駒の背景色2(点滅:100%)
$sp_move_bg_color:           hsla(0, 0%, 0%, 0.10) !default // 最後に動かした駒の元の位置の背景色
$sp_selectable_bg_color:     hsla(0, 0%, 0%, 0.10) !default // 持ち上げれる駒の背景色
$sp_holding_bg_color_if_touch:        hsla(0, 0%, 0%, 0.25) !default // 持ち上げた駒の背景色
