# Code
/.bundle
/.bin
/.nuxt
/.github
/docs
/experiment
/vp_doc
/web_component

# Assets
/assets/style_editor_images
/assets/inspect

# 検証
/myapp1-nuxt*
/myapp1-vue-cli*

# ゴミ
/trash
/*.diff
/TODO*

# Test
/test*
/test-of-*
/test_of_*
