# Code
/.bundle
/.bin
/.nuxt
/.github
/docs
/experiment
/vp_doc
/web_component
/pages
/layouts
/middleware
/plugins
/static
/store
/.rgignore
/.node-version
/.env.production
/.env
/.byebug_history
/.babelrc
/BREAKING_CHANGES.org
/.ruby-version
/application.png
/Gemfile
/Gemfile.lock
/jest.config.js
/Rakefile
/support.rb
/nuxt.config.js
/components/MainDoc

# Assets
/assets/style_editor_images
/assets/inspect

# 検証
/shogi-player-nuxt*
/shogi-player-vue-cli*

# ゴミ
/trash
/*.diff
/TODO*

# Test
/test*
/test-of-*
/test_of_*
