<div class="shogi_player">
  <p>
    {{current_turn}}手目
  </p>
  <p>
    <div class="controller">
      <div class="btn-group">
        <button class="btn btn-default first"      @click="current_turn = mediator.sfen.turn_counter_base()">｜＜</button>
        <button class="btn btn-default previous"   @click="current_turn -= 1">＜</button>
        <button class="btn btn-default next"       @click="current_turn += 1">＞</button>
        <button class="btn btn-default last"       @click="current_turn = mediator.sfen.turn_counter_max()">＞｜</button>
        <button class="btn btn-default board_turn" @click="board_turn = !board_turn">反転</button>
      </div>
    </div>
  </p>
  <p>
    <input type="range" v-model.number="current_turn" :min="mediator.sfen.turn_counter_base()" :max="mediator.sfen.turn_counter_max()" />
  </p>
  <div class="row">
    <div class="col-lg-12">
      <div class="board_container hifumin_eye" :class="{enable: board_turn}">
        <div class="flex_item hold_pieces white" :class="env">
          <ul>
            <li>☖</li>
            <li v-for="(count, piece) in mediator.hold_pieces['white']">
              <template v-if="count >= 1">
                <span class="piece_name">{{piece | piece_name}}</span>
                <template v-if="count >= 2">
                  <span class="piece_count">{{count}}</span>
                </template>
              </template>
            </li>
          </ul>
        </div>
        <div class="flex_item board">
          <table>
            <tr v-for="y in mediator.board_size">
              <template v-for="x in mediator.board_size">
                <td :class="mediator.cell_class(x -1, y - 1)">
                  {{mediator.cell_view(x - 1, y - 1)}}
                </td>
              </template>
            </tr>
          </table>
        </div>
        <div class="flex_item hold_pieces black" :class="env">
          <ul>
            <li>☗</li>
            <li v-for="(count, piece) in mediator.hold_pieces['black']">
              <template v-if="count >= 1">
                <span class="piece_name">{{piece | piece_name}}</span>
                <template v-if="count >= 2">
                  <span class="piece_count">{{count}}</span>
                </template>
              </template>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <template v-if="env !== 'production'">
    {{mediator.hold_pieces}}
  </template>
</div>
