.ShogiPlayer {
  .PieceTap {
    position: relative;
  }
  .GeneralMarkLayer {
    // 色数。これ以上の色が必要なら利用者定義してもらう
    z-index: $piece_count_z + 1; // 駒数より上に円を書く。FIXME: これは本当に必要？

    .general_mark_effect_container {
      // 円を中央に表示するため
      display: flex;
      align-items: center;
      justify-content: center;
    }

    // 各コンポーネントで定義する
    .general_mark_effect {
      // border-color: var(--general_mark_stroke_color);
      // outline: 1px solid var(--general_mark_edge_color);
      // box-shadow: inset 0 0 0 1px var(--general_mark_edge_color);
    }

    .general_mark_group_name_container {
      // 左上から左揃えで並べる
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 1px;

      overflow: hidden;        // 何行にもなったときに下の枠を飛び出すのを防ぐため
    }

    .general_mark_group_name {
      background-color: var(--general_mark_text_bg);
      color: var(--general_mark_text_color);

      flex-shrink: 0;          // 何行にもなったときにテキスト部分が最優先で縮小されるのを防ぐ
      white-space: nowrap;     // テキストの折り返しを防止
      overflow: hidden;        // はみ出した部分を非表示
      max-width: 100%;         // 小さい文字列なら横100%にはしないため
      max-height: 100%;

      // スタイル共通
      font-size: $size-7;
      line-height: 1.25;
      padding: 0 0.25em;
      font-weight: bold;
      border-radius: 2px;
      @include mobile {
        font-size: 0.5em;
      }
    }
  }
}
