@use "sass:math";

.ShogiPlayer {
  @include defvar(sp_general_mark_base_color, hsl(0 56% 58% / 0.8));

  $SP_GENERAL_MARK_PALETTE_COUNT: 9;
  $step: math.div(360, $SP_GENERAL_MARK_PALETTE_COUNT);

  .GeneralMarkLayer {
    @for $i from 0 through $SP_GENERAL_MARK_PALETTE_COUNT - 1 {
      &.general_mark_color_index#{$i} {
        --c: oklch(from var(--sp_general_mark_base_color) l c calc(h + #{$i * $step}) / alpha);
        --general_mark_stroke_color: oklch(from var(--c) calc(l * 1.00) c h / alpha);
        --general_mark_text_bg:      oklch(from var(--c) calc(l * 0.90) c h / calc(alpha * 0.5));
        --general_mark_text_color:   oklch(from var(--c) calc(l * 2.00) c h / calc(alpha * 2.0));
      }
    }
  }
}
