@import "~bulma/sass/utilities/initial-variables";      // なくてもいいけど bulma の初期値を参照したいとき用
@import "~bulma/sass/utilities/functions.sass";         // findColorInvert を使うときのため

// 主用カラー
$primary: $blue;

// オーバーレイのとときも背景を明るめにする
$modal-background-background-color: bulmaRgba($black, 0.4);

// モバイルでナビバーをメニュー化しない
// これをするとモバイルのときバーが小さくならない
// が、メニュー化されることの弊害の方が大きいのでメニュー化を阻止する
$navbar-breakpoint: 0;
