// 両方で読み込む

@import "~bulma/sass/utilities/initial-variables";      // なくてもいいけど bulma の初期値を参照したいとき用
@import "~bulma/sass/utilities/functions.sass";         // findColorInvert を使うため

$twitter : #55acee;
$github  : #333;
$google  : rgb(221, 75,  57);
$gold    : hsl(38, 80%, 60%);
$piyo    : #f29601;
$orange  : #ff8606;

$twitter-invert : findColorInvert($twitter);
$github-invert  : findColorInvert($github);
$google-invert  : findColorInvert($google);
$gold-invert    : findColorInvert($gold);
$piyo-invert    : findColorInvert($piyo);
$orange-invert  : findColorInvert($orange);

// $custom-colors に入れておくと下のクラスが定義される
//   .has-text-twitter
//   a.has-text-twitter (hoverで濃くなる)
//   .has-background-twitter
//
// ../node_modules/bulma/sass/utilities/functions.sass
$custom-colors: (
  "twitter" : ($twitter , $twitter-invert ),
  "github"  : ($github  , $github-invert  ),
  "google"  : ($google  , $google-invert  ),
  "gold"    : ($gold    , $gold-invert    ),
  "piyo"    : ($piyo    , $piyo-invert    ),
  "orange"  : ($orange  , $orange-invert  ),
);

// 主用カラー
$primary: $blue;

// オーバーレイのとときも背景を明るめにする
$modal-background-background-color: bulmaRgba($black, 0.4);

// モバイルでナビバーをメニュー化しない
// これをするとモバイルのときバーが小さくならない
// が、メニュー化されることの弊害の方が大きいのでメニュー化を阻止する
$navbar-breakpoint: 0;
