// $sp-base-color:        hsl(120, 0%, 55%)
// $sp-board-bg-color:    darken($sp-base-color, 43%)
// $sp-grid-color:        darken($sp-base-color, 10%)
// $sp-piece-color:       lighten($sp-base-color,25%)
// $sp-current-color:     lighten($sp-base-color,50%)
// $sp-current-bg-color:  darken($sp-base-color, 34%)
// $sp-origin-bg-color: darken($sp-base-color, 38%)

$sp-base-color:        hsl(160, 0%, 50%)
$sp-board-bg-color:    white
$sp-grid-color:        lighten($sp-base-color, 10%)
$sp-piece-color:       darken($sp-base-color,30%)
$sp-current-color:     darken($sp-base-color,50%)
$sp-current-bg-color:  lighten($sp-base-color, 40%)
$sp-origin-bg-color: lighten($sp-base-color, 45%)
  
$sp-cell-size: 3.9vmin
$sp-font-size: 2.6vmin
