.shogi-player .piece_stand {
  min-width: 8vmin;
  margin: 0 1vmin;
  text-align: left; }
  .shogi-player .piece_stand ul {
    list-style-type: none;
    padding: 0 0.25vmin;
    margin: 1vmin; }
    .shogi-player .piece_stand ul li {
      display: flex;
      align-items: center;
      color: #333333;
      font-size: 2.6vmin; }
      .shogi-player .piece_stand ul li .piece_count {
        vertical-align: middle;
        margin-left: 0.3rem;
        font-size: 2.08vmin; }
  .shogi-player .piece_stand.turn_active ul li.location_mark {
    text-shadow: 0 0 0.5rem #bf4040; }
