@include defvar(sp_origin_mark_omv_square_color_stroke_width, 0.05);

.ShogiPlayer {
  &.is_origin_mark_variant_omv_square_color {
    .OriginMarkLayer {
      .general_mark_effect {
        width: 100%;
        height: 100%;
        border-width: calc(var(--sp_board_cell_current_w) * var(--sp_origin_mark_omv_square_color_stroke_width));
        border-style: solid;
        border-color: var(--general_mark_stroke_color);
      }
    }
  }
}
