@include defvar(sp_general_mark_omv_fire_scale, 15%);
.ShogiPlayer {
  &.is_origin_mark_variant_omv_fire {
    .OriginMarkLayer {
      .general_mark_effect {
        width: 100%;
        height: 100%;

        /* background-color: rgba(0, 50, 100, 0.3); /\* セルの基本色 *\/ */
        /* border: 1px solid rgba(0, 200, 255, 0.5); */
        border-radius: 5%;

        /* 炎の光のベース（box-shadowを重ねる） */
        box-shadow:
          /* 0 0 10px rgba(0, 150, 255, 0.8), */
          /* 0 0 20px rgba(0, 100, 255, 0.5), */
          inset 0 0 15px 4px hsl(180 50% 50% / 0.5);
      }
    }
  }
}
