@include defvar(sp_origin_mark_square_gray_stroke_width, 0.05);
@include defvar(sp_origin_mark_square_gray_stroke_color, hsl(0 0% 0% / 0.25));

.ShogiPlayer {
  &.is_origin_mark_variant_square_gray {
    .OriginMarkLayer {
      .general_mark_effect {
        width: 100%;
        height: 100%;
        border-width: calc(var(--sp_board_cell_current_w) * var(--sp_origin_mark_square_gray_stroke_width));
        border-style: solid;
        border-color: var(--sp_origin_mark_square_gray_stroke_color);
      }
    }
  }
}
