$advance: 26%                 // 大きくするほど駒が下に移動する

// 駒のテクスチャの共通設定
%piece_fore_texture_shared
  color: transparent            // テキストを消す
  background-repeat: no-repeat
  // background-size: contain      // contain にすると端が欠けない
  // background-size: 50%          // 駒の大きさ contain にしとけばいい
  background-size: 84%          // 駒の大きさ contain にしとけばいい

// 駒のテクスチャ用(先手だけの画像を用意している場合)
%piece_fore_texture_for_black_onoly
  background-position: 50% 50% + $advance // 先手も後手も下寄り配置 (後手は判定しているので見た目は上にずれる)

// 駒のテクスチャ用(先後両方の画像を用意している場合)
%piece_fore_texture_for_both
  &.location_black
    @extend %piece_fore_texture_for_black_onoly // 先手は枠の下寄り配置
  &.location_white
    background-position: 50% 50% - $advance // 後手は枠の上寄り配置

// 選択できる駒に指定する
%dom_real_selectable
  +image_shadow($sp_real_piece_shadow_depth, $sp_real_piece_shadow_blur)
  &.holding_p
    +desktop
      opacity: 0.4  // 駒を持ち上げたので元の駒を薄くする
    +touch
      background-color: $sp_real_holding_color
      // さらに駒を持ったときは色を濃くする
      &:hover
        background-color: $sp_real_holding_color

  &.selectable_p
    &:hover
      // スマホでは手を離しても hover 状態を保持してしまう
      // そのため2手目に1手目の指し手の hover の色がつきっぱなしになってしまう
      // そうすると手目より1手目の方が目立って違和感がある
      // なのでマウスが使える環境だけを対象にする
      +desktop
        // 選択できる駒だけ反応する
        // background プロパティをつかうと他の設定をリセットしてしまうので注意
        background-color: $sp_real_selectable_color

  @extend %real_hoverable_bg
    
.shogi-player
  &.theme-real
    // 駒の種類
    &.piece_variant-a
      .piece_fore
        @extend %piece_fore_texture_for_both
        +piece_image_variant_a_pack
    &.piece_variant-b
      .piece_fore
        @extend %piece_fore_texture_for_black_onoly
        +piece_image_variant_b_pack
        &.location_white
          @extend %is_flip
    &.piece_variant-c
      .piece_fore
        @extend %piece_fore_texture_for_both
        +piece_image_variant_c_pack

    // 駒 (あちこちにある)
    .piece_back
      @extend %dom_real_selectable
      line-height: 100%         // これで隙間ができなくなる(が、意味がよくわかってない)
      &.origin_place
        background-color: $sp_real_origin_bg
      &.current
        animation: real_blink 0.5s ease-in-out infinite alternate
      .piece_fore
        @extend %piece_fore_texture_shared
        height: 100%   // .piece_back のサイズを継承。inherit だと災いがおきやすいので100%を使う
