.shogi-player
  &[v-cloak]
    display: none

  @extend %yumincho

  .yumincho
    @extend %yumincho

  margin: 0 auto
  text-align: center

  .piece_count1
    visibility: hidden

  .piece_back
    cursor: default     // テキスト選択「I」ではなく矢印カーソルとする
    // height: inherit
    &.selectable_p
      &:hover
        cursor: pointer
    .piece_fore
      // height: inherit

  // 将棋盤と駒台の反転
  .flippable
    transform: rotate(0deg)
    transition: all 0.2s 0s ease-in-out
    &.flip
      @extend %is_flip

  .board_container
    display: inline-block
      
  // 駒台と将棋盤のレイアウト
  .flippable
    display: inline-flex
    // すべてを中央よせ
    justify-content: center

    // △の駒台は左上
    // 将棋盤は上下の中央
    // ▲の駒台は右下
    .flex_item:nth-child(1)
      align-self: flex-start
    .flex_item:nth-child(2)
      align-self: center
    .flex_item:nth-child(3)
      // align-self: flex-end
      display: flex
      // 縦並び
      flex-direction: column
      // 空白を空けて上下に配置
      justify-content: space-between

    // 将棋盤
    .board_outer
      .board_inner
        // margin: 0 auto
        // padding: 0

        // 横セルを均等に分割する
        table-layout: fixed

        // 盤面の駒(テキスト)を連打やドラッグの際に選択できないようにする
        @extend %is_unselectable

        // box-shadow: 0 0 1vmin rgba($sp_simple_grid_color, 0.5)

        .piece_back
          text-align: center       // 駒のテキストを中央にする
          vertical-align: middle   // block要素(Y)を中央にする
          padding: 0               // ブラウザの初期値だと1pxあるので消す

  // カーソル位置に表示する持駒
  .cursor_elem
    +touch
      display: none             // タッチデバイスでは表示しない
    position: fixed
    z-index: 10                   // bulma のボタンの z-index が 2 なのでそれより上ならなんでも良い
    pointer-events: none
    .piece_back
      height: inherit
      @extend %shift_to_middle
      // background-color: hsla(0, 0%, 50%, 0.2) // 升ごと動かしたいとき
      // 盤を反転した状態で持ったカーソル上にある駒を反転させる用
      &.virtual_piece_flip
        @extend %is_flip
