// クリックできるエリアを横に広げるとモバイルのときに画面の右に隙間ができてしまう
// なので shogi-player の幅以上に広げてはいけない
$board_overlay_clickable_size: 0%

.shogi-player
  &.run_mode-view_mode
    .board_wrap
      position: relative
      .overlay_navi
        position: absolute
        z-index: 1
        width: 50%              // 以前まで75%にしていたが要素の半分にすること
        height: 100%
        // ←戻る
        &.previous
          left: -$board_overlay_clickable_size
        // 進む→
        &.next
          right: -$board_overlay_clickable_size
        // 反転用の天王山
        &.flip_trigger_cell
          z-index: 2
          left: 50% - ((100% / $sp_dimension) / 2)
          width: (100% / $sp_dimension)
          top: 50% - ((100% / $sp_dimension) / 2)
          height: (100% / $sp_dimension)
      // .mark
      //   position: absolute
      //   z-index: 3
      //   top: (100% / 3)
      //   left: (100% / 3)
      //   width: 5px
      //   height: 5px
      //   background: $sp_simple_grid_color

    -webkit-tap-highlight-color: transparent

// 上に被せてすべてを押せないようにする
.shogi-player
  &.run_mode-view_mode
    position: relative
    .top_overlay
      position: absolute
      z-index: 2
      // border: 1px solid blue
      width: 100%
      height: 100%
