// 反転
%dom_flip
  transform: rotate(180deg)
  
// 選択できる駒に指定する  
%dom_selectable
  &.holding_p
    background: $sp_holding_color
  &:hover
    // 選択できる駒だけ反応する
    &.selectable_p
      background: $sp_selectable_color
    // さらに駒を持ったときは色を濃くする
    &.holding_p
      background: $sp_holding_color

// 盤面の駒(テキスト)を連打やドラッグの際に選択できないようにする
%text_select_disable
  user-select: none
