.shogi-player
  ul.piece_box
    // border: 1px dotted blue
    display: flex
    // 横並び
    flex-direction: row
    // 折り返す
    flex-wrap: wrap
    // 列は左につめる
    justify-content: flex-start
    // 行は上につめる
    align-content: flex-start
    // border: 1px solid #eee
    
    list-style-type: none
    padding: 0 0.3vmin
    margin-left: 1vmin
      
    // min-width: 8vmin
    // margin: 0 1vmin
    // text-align: left

    border: 2px solid $sp-simple-grid-color
    background: $sp-simple-board-color-bg
    padding: 0.5vmin
    border-radius: 0.5vmin
      
    li
      margin: 0.3rem
      
      cursor: pointer
    
      // 歩(2) の並びを横軸中央で揃える
      display: flex
      align-items: center

      // 持駒
      color: $sp-simple-piece-color
      // font-size: $sp-simple-font-size

      // 持駒数
      .piece_count
        vertical-align: middle
        margin-left: 0.1rem
        font-size: 60%

      &.active
        .piece_name
          background: blue
