.shogi-player
  &.theme-simple
    .board_inner
      border-collapse: separate
      border: $sp_simple_grid_outer solid $sp_simple_grid_color
      border-spacing: $sp_simple_grid_inner
      background: $sp_simple_grid_color
      .piece_outer
        color: $sp_simple_piece_color
        background: $sp_simple_board_color_bg
        &.current
          background: $sp_simple_current_color-bg
        &.origin_place
          background: $sp_simple_origin_color_bg
        &.current
          color: $sp_simple_piece_color
          font-weight: bold
          animation: simple_blink 0.5s ease-in-out infinite alternate
        .piece_inner
          &.location_black
            transform: translateY($sp_simple_span_cell_transform_y)
          &.location_white
            transform: rotate(180deg) translateY($sp_simple_span_cell_transform_y)
          &.promoted_true
            color: $sp_simple_promoted_color

    .piece_stand
      .piece_inner

@keyframes simple_blink
  0%
    background: $sp_simple_current_color-bg
  100%
    background: $sp_simple_current_color-bg2

@mixin size_define($key, $attrs)
  @media screen and (min-width: 321px) and (max-width: 9999px)
    .shogi-player
      &.theme-simple
        // font-size: map-get($attrs, font-size)
        &.size-#{$key}
          .board_outer
            .board_inner
              .piece_outer
                width:  map-get($attrs, piece_outer_size)
                height: map-get($attrs, piece_outer_size)
                font-size: map-get($attrs, font-size)
          .piece_stand
            li
              font-size: map-get($attrs, font-size)
          .piece_box
            max-width: map-get($attrs, font-size) * 3.5
            min-height: map-get($attrs, font-size) * 1.0
            li
              font-size: map-get($attrs, font-size) * 0.5

@include size_define(x-small,   $sp_simple_cell_size_xsmall)
@include size_define(small,     $sp_simple_cell_size_small)
@include size_define(default,   $sp_simple_cell_size_default)
@include size_define(medium,    $sp_simple_cell_size_medium)
@include size_define(large,     $sp_simple_cell_size_large)
@include size_define(x-large,   $sp_simple_cell_size_xlarge)
