%image_contain
  color: transparent            // テキストを消す
  background-size: contain      // contain にすると端が欠けない
  background-position: center
  background-repeat: no-repeat

.shogi-player
  &.theme-real
    @import "piece_map_list"
    @include piece_map_list

    .board_outer
      padding: 2%
      position: relative
      &:after
        position: absolute
        z-index: -1
        content: ""
        border-radius: 0.8%
        background-position: center
        // cover にすると1枚の画像が最大まで広がる。contain は繰り返しになる
        background-size: cover
        top: 0
        left: 0
        // right: 0
        // bottom: 0
        width: 100%
        height: 100%
      .board_inner
        .piece_outer
          border: $sp_real_grid_inner solid $sp_real_grid_color

          &.current
            background: $sp_real_current_color_bg
            animation: real_blink 0.5s ease-in-out infinite alternate
          &.origin_place
            background: $sp_real_origin_color_bg

          .piece_inner
            @extend %image_contain

            // 升目に対しての駒の大きさ
            width:  100%
            height: 100%

            // 上下の微調整
            &.location_black
              transform: translateY($sp_real_span_cell_transform_y)
            &.location_white
              transform: translateY($sp_real_span_cell_transform_y * -1)
    .piece_stand
      .piece_inner
        @extend %image_contain

@keyframes real_blink
  0%
    background: $sp_real_current_color_bg
  100%
    background: $sp_real_current_color_bg2

//////////////////////////////////////////////////////////////////////////////// size

@mixin size_define($key, $size)
  @media screen and (min-width: 321px) and (max-width: 9999px)
    .shogi-player
      &.theme-real
        &.size-#{$key}
          .board_outer
            .board_inner
              .piece_outer
                width:  $size
                height: $size
          .piece_stand
            font-size: $size * 0.75

@include size_define(x-small,  $sp_real_cell_size_xsmall)
@include size_define(small,    $sp_real_cell_size_small)
@include size_define(default,  $sp_real_cell_size_default)
@include size_define(medium,   $sp_real_cell_size_medium)
@include size_define(large,    $sp_real_cell_size_large)
@include size_define(x-large,  $sp_real_cell_size_xlarge)

//////////////////////////////////////////////////////////////////////////////// valiation

@mixin variation_define($key, $opacity, $file)
  .shogi-player
    &.theme-real
      &.variation-#{$key}
        .board_outer
          &:after
            background-image: url("#{$sp_assets_dir}/background/#{$file}")
            opacity: $opacity

@include variation_define(a, 1.0, "0100_wood_01.png")
@include variation_define(b, 1.0, "0110_wood_02.png")
@include variation_define(c, 1.0, "0120_wood_03.png")
@include variation_define(d, 1.0, "0130_wood_04.png")
@include variation_define(e, 1.0, "0140_autumn_leaves_01.png")
@include variation_define(f, 1.0, "0150_autumn_leaves_02.png")
@include variation_define(g, 1.0, "0160_autumn_leaves_03.png")
@include variation_define(h, 1.0, "0170_cherry_blossom.png")
@include variation_define(i, 1.0, "0180_fire.png")
@include variation_define(j, 1.0, "0190_japanese_paper.png")
@include variation_define(k, 1.0, "0200_forest_gray.png")
@include variation_define(l, 1.0, "0210_forest_green.png")
@include variation_define(m, 1.0, "0220_nature_lake.png")
@include variation_define(n, 1.0, "0230_nature_taki.png")
@include variation_define(o, 1.0, "0240_nature_yakushima.png")
@include variation_define(p, 1.0, "0250_sky_01.png")
@include variation_define(q, 1.0, "0260_sky_02.png")
@include variation_define(r, 1.0, "0270_sky_03.png")
@include variation_define(s, 1.0, "0280_water_01.png")
@include variation_define(t, 1.0, "0290_water_02.png")
