$base-color:       hsl(200, 50%, 50%)
$board-bg-color:   darken($base-color, 43%)
$line-color:       darken($base-color,  0%)
$piece-color:      darken($base-color,  0%)
$piece-bg-color:   darken($base-color, 38%)
$font-color:       darken($base-color,  0%)
$current-color:    darken($base-color,  0%)
$current-bg-color: darken($base-color, 37%)

$cell-size: 3.9vmin
$font-size: 2.6vmin
