.foo
  | ここを変更してもa変更されない

//- .shogi_player
//-   p
//-     hr
  //- | {{turn_current}}手目
  //- p
  //-   .controller
  //-     .btn-group
  //-       .btn.btn-default.first      @click="turn_current = turn_counter_base"｜
  //-       .btn.btn-default.previous   @click="turn_current -= 1" ＜
  //-       .btn.btn-default.next       @click="turn_current += 1" ＞
  //-       .btn.btn-default.last       @click="turn_current = turn_counter_max" ｜
  //-       .btn.btn-default.board_turn @click="board_turn = !board_turn" 反転
  //- p
  //-   input type="range" v-model.number="turn_current" :min="turn_counter_base" :max="turn_counter_max"
  //- 
  //- .row
  //-   .col-lg-12
  //-     .board_container hifumin_eye" :class="{enable: board_turn}"
  //-       .flex_item hold_pieces white" :class="env"
  //-         ul
  //-           li ☖
  //-           li v-for="(count, piece) in hold_pieces['white']"
  //-             template v-if="count >= 1
  //-               span.piece_name {{piece | piece_name}}
  //-               template v-if="count >= 2
  //-                 span class="piece_count{{count}}</span>
  //- 
  //-       .flex_item board
  //-         table
  //-           tr v-for="y in board_size
  //-             template v-for="x in board_size
  //-               td :class="cell_class(x -1, y - 1)
  //-                 {{cell_view(x - 1, y - 1)}}
  //- 
  //-       .flex_item hold_pieces black" :class="env
  //-         ul
  //-           li ☗
  //-           li v-for="(count, piece) in hold_pieces['black']
  //-             template v-if="count >= 1"
  //-               span.piece_name {{piece | piece_name}}
  //-               template v-if="count >= 2"
  //-                 span.piece_count {{count}}
  //- 
  //- template v-if="env !== 'production'"
  //-   {{hold_pieces}}
