@import "initial_variables"

$dimension: 9
$cell_width: 100% / $dimension

.shogi-player
  font-family: "YuMincho", "Yu Mincho", serif

  margin: 0 auto
  text-align: center

  // 汎用の反転
  .location_white
    transform: rotate(180deg)

  // 将棋盤と駒台の反転
  .board_turn
    transform: rotate(0deg)
    transition: all 0.2s 0s ease-in-out
    &.turned
      @extend .location_white

  // 駒台と将棋盤のレイアウト
  .board_container
    display: flex
    // すべてを中央よせ
    justify-content: center

    // △の駒台は左上
    .flex_item:nth-child(1)
      align-self: flex-start

    // 将棋盤は上下の中央
    .flex_item:nth-child(2)
      align-self: center

    // ▲の駒台は右下
    .flex_item:nth-child(3)
      align-self: flex-end

  // 将棋盤
  table
    margin: 0 auto
    padding: 0
    background: $sp-grid-color
    border-collapse: separate
    border-spacing: $sp-grid-size
    border: $sp-sub-grid-size solid $sp-grid-color
    // box-shadow: 0 0 24vmin rgba($sp-grid-color, 0.5)
    td
      font-size: $sp-font-size
      width: $sp-cell-size
      height: $sp-cell-size
      padding: 0
      color: $sp-piece-color
      background: $sp-board-bg-color
      text-align: center
      &.current
        color: $sp-piece-color
        background: $sp-current-bg-color
        font-weight: bold
      &.origin_point
        background: $sp-origin-bg-color
      &.current
        transition: background 500ms 0s ease-out

  .board_wrap
    position: relative
    // border: 8px solid hsla(0, 50%, 50%, .5)
    .overlay_navi
      position: absolute
      z-index: 1
      width: 75%
      height: 100%
      &.previous
        left: -25%
      &.next
        right: -25%
      &.board_turn_area
        z-index: 2
        // 天王山
        left: 50% - ($cell_width / 2)
        width: $cell_width
        top: 50% - ($cell_width / 2)
        height: $cell_width
    // .mark
    //   position: absolute
    //   z-index: 3
    //   top: (100% / 3)
    //   left: (100% / 3)
    //   width: 5px
    //   height: 5px
    //   background: $sp-grid-color

  // コントローラー
  .controller_block
    margin-top: 1vmin
    margin-bottom: 0vmin
    button
      // cursor: pointer
      // width: 4vmin
      &.next
        width: 16vmin
      // &.board_turn
      //   margin-left: 1vmin

  // スライダー
  .slider
    margin-left: auto
    margin-right: auto
    cursor: pointer
    width: 36vmin

  // N手目の編集モードのnumberフィールド
  .turn_edit_input
    width: 3rem
  // N手目のテキスト表示
  .turn_edit_text
    cursor: pointer

  // .piece_name
  //   &.piece_P
  //     background: blue

  &.debug
    .controller_block
      background: hsla( 38, 50%, 50%, .5)
    .board_wrap
      .overlay_navi
        &.previous
          background: hsla(240, 50%, 50%, .5)
        &.next
          background: hsla(  0, 50%, 50%, .5)
        &.board_turn_area
          background: hsla(120, 50%, 50%, .5)

@import "piece_stand"
@import "cursor"
