.ShogiPlayer .DevTools
  &.is_dev_tools_position_left, &.is_dev_tools_position_right
    top: 0
    bottom: 0
    width: calc(min(480px, 75%))

  &.is_dev_tools_position_top, &.is_dev_tools_position_bottom
    left: 0
    right: 0
    height: calc(min(320px, 75%))

  &.is_dev_tools_position_left
    left: 0
    border-right: 1px solid $grey-lighter

  &.is_dev_tools_position_right
    right: 0
    border-left: 1px solid $grey-lighter

  &.is_dev_tools_position_top
    top: 0
    border-bottom: 1px solid $grey-lighter

  &.is_dev_tools_position_bottom
    bottom: 0
    border-top: 1px solid $grey-lighter
