/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

// https://tech.fundasta.co.jp/2020/08/18/r_katada/121
// https://besolab.com/2020/04/19/vuepress-blog/#tailwindcss

// @tailwind base
// @tailwind components

@import "responsive_macro_from_bulma"

.home .hero img
  max-width 450px!important

.sidebar-link
  word-break: break-all

// .shogi-player-wc-container
//   display: flex
//   align-items: center
//   justify-content: center
// 
// shogi-player-wc
//   width: 100%
//   +tablet()
//     background-color: blue
//     width: 50vmin

// // @tailwind utilities
