/**
 * Custom Styles here.
 *
 * ref: https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home
 .hero
   img
    max-width 450px !important
 .footer
  margin-top: 2.5rem

.sidebar-link
  word-break: break-all
