// ShogiPlayer.sass のなかで読み込むと親アプリ側で読み込んだ Buefy を干渉してラジオボタンが崩れたりする
@import "~buefy/src/scss/buefy-build.scss"

// Rails から使うとき Rails 側から見た assets へのパスに変更すること (そうしないと assets を参照できない)
$sp_assets_dir: "assets" !default

// Rails 側で sp_assets_dir を変更してから読み込みたいので .vue の中では読まないようにする
@import "./components/ShogiPlayer.sass"

.yumincho
  // font-family: "YuMincho", "Yu Mincho", serif
.hero
  &.is-primary
    background-color: transparent !important

  position: relative
  &:after
    position: absolute
    z-index: -1
    content: ""
    background-image: url("./assets/hero.jpg")
    background-position: center
    background-size: cover
    opacity: 1.0
    top: 0
    left: 0
    width: 100%
    height: 100%

.hero-foot
  li
    // background: hsla(0, 0%, 0%, .1)
    // box-shadow: 0 0 10vmin hsla(0, 0%, 0%, 1.0)

// 基本、英単語の途中でも折り返す
.content
  word-break: break-all

// オプションの説明がつっぱらないように横スクロールバー表示
.table_wrap
  overflow-x: auto
  table
    white-space: nowrap

.original
  position: relative
  padding: 3vmin
  &:after
    position: absolute
    z-index: -1
    content: ""
    background-color: hsla(0, 0%, 96%, 1.0)
    // background-image: url("./assets/tatami01-768x480.jpg")
    // border-radius: 1vmin
    // background-position: center
    // background-size: cover
    // opacity: 0.25
    top: 0
    left: 0
    width: 100%
    height: 100%
    // filter: saturate(80%);
    /* filter: contrast(100%)
    /* filter: sepia(100%)
  .CommentBlock
    .message
      margin-left: auto
      margin-right: auto
      max-width: 65ch

pre
  font-family: Osaka-mono, "Osaka-等幅", "ＭＳ ゴシック", "Courier New", Consolas, monospace ! important
  white-space: pre-wrap
  word-break: break-all

html
  +mobile
    font-size: 70%

#app
  .section
    +mobile
      margin: 2em 0em
      margin-bottom: 1em
      padding: 0

  .message-body
    +mobile
      font-size: 75%

  .title
    +mobile
      font-size: 150%

// ここで読み込むとカレントディレクトリが /src 扱いのため components/* から ../assets と参照してもパスが合わない
// main.js で読み込むと .sass のファイル基準になる
// @import "./components/ShogiPlayer.sass"
