.StyleEditor {
  // 盤
  &.se_tf_board_p-true {
    .SpTransformBlock {
      transform:
        perspective(calc(var(--se_tf_board_perspective) * 1px))
        scale(var(--se_tf_board_scale))
        translate3d(
          calc(var(--se_tf_board_translate_x) * 100cqw),
          calc(var(--se_tf_board_translate_y) * var(--sp_board_entire_current_h)),
          calc(var(--se_tf_board_translate_z) * 1px)
        )
        rotateX(calc(var(--se_tf_board_rotate_x) * 1turn))
        rotateY(calc(var(--se_tf_board_rotate_y) * 1turn))
        rotateZ(calc(var(--se_tf_board_rotate_z) * 1turn))
      ;
    }
  }

  // 駒
  &.se_tf_piece_p-true {
    .PieceObject {
      transform:
        perspective(calc(var(--se_tf_piece_perspective) * 1px))
        scale(var(--se_tf_piece_scale))
        translate3d(
          calc(var(--se_tf_piece_translate_x) * var(--sp_board_cell_current_w) * var(--sp_position_sign)),
          calc(var(--se_tf_piece_translate_y) * var(--sp_board_cell_current_h) * var(--sp_position_sign)),
          calc(var(--se_tf_piece_translate_z) * 1px)
        )
        rotateX(calc(var(--se_tf_piece_rotate_x) * 1turn * var(--sp_position_sign)))
        rotateY(calc(var(--se_tf_piece_rotate_y) * 1turn * var(--sp_position_sign)))
        rotateZ(calc(var(--se_tf_piece_rotate_z) * 1turn))
      ;
    }
  }

  // 背景
  &.se_tf_wall_p-true {
    .Workspace {
      transform:
        perspective(calc(var(--se_tf_wall_perspective) * 1px))
        scale(var(--se_tf_wall_scale))
        translate3d(
          calc(var(--se_tf_wall_translate_x) * 100vw),
          calc(var(--se_tf_wall_translate_y) * 100vh),
          calc(var(--se_tf_wall_translate_z) * 1px)
        )
        rotateX(calc(var(--se_tf_wall_rotate_x) * 1turn))
        rotateY(calc(var(--se_tf_wall_rotate_y) * 1turn))
        rotateZ(calc(var(--se_tf_wall_rotate_z) * 1turn))
      ;
    }
  }
}
